<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <% include partials/head.html %>
</head>

<body>
    <% include partials/navigation.html %>

    <div class="container">
            <h3>Pagina para los videos (Fuera de servicio)</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit voluptates laudantium ullam pariatur? Sapiente, iusto architecto maiores facilis nobis quaerat! Error esse eveniet iure perferendis eum, vitae odit, molestiae repellendus deserunt autem nisi provident a assumenda tempora temporibus iusto! Similique doloribus aliquid vel alias corrupti dolorem quae maiores perspiciatis nihil.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit voluptates laudantium ullam pariatur? Sapiente, iusto architecto maiores facilis nobis quaerat! Error esse eveniet iure perferendis eum, vitae odit, molestiae repellendus deserunt autem nisi provident a assumenda tempora temporibus iusto! Similique doloribus aliquid vel alias corrupti dolorem quae maiores perspiciatis nihil.</p>
    </div>



</body>

</html>