<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
 <title><%= title %></title>
 <% include partials/head.html %>
</head>

<body>
  <% include partials/navigation.html %>

  <div class="container">
      <header class="row">
        <div class="col-lg-12 text-center">
          <img src="/img/pews-logo.png" class="animated bounceIn" alt="logo">
        </div>
      </header>
  </div>

  <div class="container-fluid">
    <div class="row bg-dark text-white p-5 text-center">
      <div class="col-sm-6">
        <i class="fab fa-youtube fa-10x"></i>
      </div>
      <div class="col-sm-6">
        <h3>the most suscribe youtube channel</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos excepturi consequatur repudiandae quae laudantium earum nesciunt dolorum deleniti at sed? Quam reprehenderit veritatis sequi. Incidunt autem commodi magnam molestias molestiae?</p>
      </div>
    </div>
  </div>
  <!--<% include partials/footer.html %>-->
</body>

</html>